body{
    margin-left: 10%;
    margin-right: 10%;
    background-image: url('Resources/mario.jpg');
    background-attachment: fixed;
    background-size:contain;
    background-repeat:repeat;
}

.topHeader{
    margin-left: 25%;
    font-size: 26px;
}

.topHeader h1{
    margin: 0%;
    display: inline-block;
}

.topHeader img{
    width:100px;
    height: auto;
}

nav{
    border: double 20px black;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

.sectionHeader{
    font-size: 20px;
    color: red;
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 5px 6px 4px yellow;
}

.articleHeader{
    font-size: 18px;
    color: blue;
    text-decoration: underline overline yellow;
}

video{
    width: 100%;
    height: auto;
}

.content{
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

aside{
    display: inline-block;
    vertical-align: top;
}

aside li{
    list-style-type: none;
}

.listHeader{
    font-size: 20px;
    color: black;
    text-shadow: 2px 3px 4px red;
}

.consoleSection{
    border: outset 20px firebrick;
    margin: 10px;
    padding: 15px;
}

.consoleSection li{
    padding: 5px;
}

#marioDay{
    font-family: 'Bangers', cursive;
    text-shadow: 3px 4px 5px red;
    color: yellow;
}

#marioFact{
    padding: 20px;
    font-style:bold ;
    font-family:'Love Ya Like A Sister', cursive;
}

section{
    background-color: blue;
    border: inset 20px yellow;
    margin-bottom: 40px;
}

article {
    background-color: firebrick;
    border: groove 20px gray;
    margin-bottom: 20px;
}

nav li{
    display: inline-block;
    padding-right: 20%;
    font-size: 20px;
}

nav ul{
    padding: 0%;
    margin-left: 25%;
}

